[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
pandas = "*"
ipykernel = "*"
langchain = "*"
fastapi = "*"
google-cloud-aiplatform = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
